server.port=8090
# Database
db.driver=com.mysql.jdbc.Driver
db.url=jdbc:mysql://localhost:3306/littlered?zeroDateTimeBehavior=convertToNull&autoReconnect=true&characterEncoding=UTF-8&characterSetResults=UTF-8&tinyInt1isBit=false
db.username=
db.password=
db.table_prefix=

# Hibernate
hibernate.dialect=org.hibernate.dialect.MySQL5Dialect
hibernate.show_sql=true
hibernate.hbm2ddl.auto=none
hibernate.id.new_generator_mappings=false
hibernate.physical_naming_strategy=CustomPhysicalNamingStrategy
entitymanager.packagesToScan=org.littlered.dataservices.entity
spring.jpa.database-platform=org.hibernate.dialect.MySQL5Dialect
spring.jpa.show-sql=true
spring.jpa.hibernate.ddl-auto=validate
spring.jpa.hibernate.dialect=org.hibernate.dialect.MySQL5InnoDBDialect

# Logging
logging.level.org.springframework.web=DEBUG
logging.level.org.hibernate=ERROR

# runtime properties
# For testing, override current year filtering (for when there are no games for the current year yet)
display.year.filter=2022

display.timezone=America/Los_Angeles
bookings.quota=2

# email configurations
spring.mail.host=localhost
spring.mail.username=user
spring.mail.password=pass
spring.mail.port=25


# TLS configurations
tls.active=false
#security.require-ssl=true
#server.ssl.key-store: <path>
#server.ssl.key-store-password: <password>
#server.ssl.keyStoreType: PKCS12
#server.ssl.keyAlias: <keyalias>

logging.level.org.springframework.security=DEBUG

jmx.rmi.host=localhost
jmx.rmi.port=8687
com.sun.management.jmxremote.password.file=

endpoints.health.id=springbeans
endpoints.health.sensitive=false
endpoints.health.enabled=true

jwt.secret=
jwt.expirationDateInMs=5000
jwt.refreshExpirationDateInMs=5000

api.key=
api.key.user=